asn1crypto==0.24.0
cffi==1.11.5
click==6.7
cryptography==2.3
Flask~>0.12.3
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pycparser==2.18
pyOpenSSL==18.0.0
six==1.11.0
SQLAlchemy==1.2.9
Werkzeug==0.14.1
WTForms==2.2.1
